<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ablon</key>
	<string>87545269</string>
	<key>Achères Grand Cormier</key>
	<string>87386052</string>
	<key>Achères Ville</key>
	<string>87381657</string>
	<key>Aéroport Ch. de Gaulle 1</key>
	<string>87271460</string>
	<key>Aéroport Ch. de Gaulle 2 TGV</key>
	<string>87001479</string>
	<key>Andrésy</key>
	<string>87381491</string>
	<key>Angerville</key>
	<string>87543090</string>
	<key>Argenteuil</key>
	<string>87381848</string>
	<key>Asnières sur Seine</key>
	<string>87381137</string>
</dict>
</plist>
